<div id="everything">
  <div id="intro-header">
    <div id="color-background">
      <div style="height: 100%; width: 100%; position: relative">
        <div id="color-background-inner">
        </div>
      </div>
    </div>
    <div id="text-background">
      <div style="height: 100%; width: 100%; position: relative">
        <div id="left-corner-background">
          <div style="height: 100%; width: 100%; position: relative">
            <h1 id="logo">Fav<span style="color: #52C247; font-weight: 900">Color</span></h1>
            <p id="motto">Everyone's favorite colors,<br>at your demand.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="intro-lower">
    <h1>we do stuff</h1>
    <p>ajoiwejoiefawjoifwaeoij faewij faew jioagwrjio geraijo gear</p>
  </div>
</div>
