/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #5b2a7d;
  color: black;
  margin: 0;
  width: 100%;
}

* {
  font-family: "helvetica";
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
  border-left: 0px solid #fff;
  padding-left: 3px;
  margin-top: 3px;
  transition: border-left 0.25s;
}

#header-outer {
  margin: 0;
  width: 100vw;
  height: 50px;
  background-color: #333;
  position: fixed;
}

#header-content {
  position: absolute;
  background-color: #333;
  transform-origin: 0% 100%;
  transform: rotate(-0.5deg);
  width: 100vw;
  height: 50px;
  z-index: 4239578293475923784;
}


#header-content > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}

#header-logo {
  opacity: 0.75;
  margin-left: 12.5px;
  float: left;
  height: 45px;
  width: auto;
  transition: opacity 0.25s;
}

#header-logo:hover {
  opacity: 1;
}

#header-right {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  transform: rotate(0.5deg);
  float: right;
  position: relative;
}

#header-right > a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  margin-bottom: -9px;
  vertical-align: bottom;
  border-bottom: 0px solid #fff;
  transition: border-bottom 0.25s, margin-bottom 0.25s, color 0.25s;
}

#header-right > a:hover {
  color: rgba(255, 255, 255, 1);
}

.favcols:hover {
  border-bottom: 10px solid red !important;
}

.signup:hover, .myaccount:hover {
  border-bottom: 10px solid green !important;
}

.login:hover, .logout:hover {
  border-bottom: 10px solid blue !important;
}

.colpick:hover {
  border-bottom: 10px solid yellow !important;
}

.colan:hover {
  border-bottom: 10px solid purple !important;
}

.about:hover {
  border-bottom: 10px solid gray !important;
}

#everything {
  position: absolute;
  margin-top: 50px;
  z-index: -1;
}
