* {
  font-family: "helvetica";
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: #7A38A8;
}

#color-background {
  position: absolute;
}

#everything {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

#intro-header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#color-background-inner {
  overflow: hidden;
  width: 110vw;
  height: 100vh;
  pointer-events: auto;
}

.color-box-container {
  width: 100px;
  height: 100px;
  margin-bottom: -4px;
  display: inline-block;
  perspective: 1000;
}

.color-box-container:hover .color-box {
  transform: rotateY(180deg);
}

.color-box, .front, .back {
  height: 100px;
  width: 100px;
  background-color: green;
  transition: all 0.5s;
}

.color-box {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  background-image: image_url("fabric.png");
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.back > p {
  font-size: 15px;
  line-height: 100px;
  vertical-align: middle;
  color: white;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

#text-background {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#left-corner-background {
  pointer-events: auto;
  transform: rotate(5deg);
  position: absolute;
  height: 300px;
  width: 110vw;
  bottom: -100px;
  left: -5vw;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  background-color: #5b2a7d;
}

#left-corner-background > div > * {
  position: absolute;
}

#logo {
  color: #94d98e;
  font-size: 100px;
  font-weight: 500;
  font-family: "helvetica";
  text-align: center;
  left: 5vw;
}

#motto {
  color: #D4F0D1;
  font-size: 30px;
  left: 5.5vw;
  top: 100px;
  font-weight: 100;
}

#intro-lower {
  height: auto;
  width: 100%;
  margin-top: 10px;
  background-color: #7A38A8;
}
