h1:first-child {
  padding: 40px;
  font-size: 45px;
  background-color: #853DB8;
  color: white;
}

body {
  background-color: #F6F0FA !important;
}

p {
  color: black;
  padding: 20px;
}

h1 {
  color: black;
}
