h1:first-of-type {
  padding: 40px;
  font-size: 45px;
  background-color: #853DB8;
  color: white;
}

body {
  background-color: #F6F0FA !important;
}

p {
  color: black;
  padding: 0;
  margin: 0;
}

a {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

h1 {
  color: black;
}

@mixin box_styling {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  color: black;
  border: 1px solid black;
  background-color: white;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_styling;
}

#user-info {
  height: 150px;

  #user-info-text {
    display: inline-block;
    font-size: 25px;
    height: auto;

    a, p {
      display: block;
      color: black;
      font-size: 15px;
      margin: 10px;
      height: 15px;
      padding: 0;
    }
  }

  #options-outer {
    width: 200px;
    height: auto;
    margin: 20px;
    display: block;

    .edit-info {
      color: black;
      font-size: 15px;
      padding: 0;
      text-align: center;
    }
  }
}

.gravatar {
  height: 100px;
  width: 100px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: 25px;
}

#form-outer {
  width: 80%;
  margin: 50px auto;
  background-color: #853DB8;
  padding: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

input, textarea, select, .uneditable-input {
  color: black;
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_styling;
}

.button {
  cursor: pointer;
  line-height: 25px;
  font-size: 15px;
  border: 0;
  display: block;
  width: auto;
  padding: 5px 10px;
  vertical-align: middle;
  background-color: #421F5C;
  outline: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  color: white;
  transition: background-color 0.25s;

  &:hover {
    background-color: #58297A;
  }
}

#error-explanation {
  color: #7A0000;
  background-color: #FFADAD;
  border: 1px solid #FF9999;
  margin-bottom: 30px;
  ul {
    margin: 30px;
  }
}

.alert {
  line-height: 30px;
  vertical-align: middle;
  font-size: 15px;

  p {
    margin-left: 7.5px;
    padding: 0;
  }
}

.alert-success {
  color: #006600;
  background-color: #D6FFD6;
  border: 1px solid #C2FFC2;
}

.alert-danger {
  color: #7A0000;
  background-color: #FF5C5C;
  border: 1px solid #520000;
}

.alert-neutral {
  color: #000;
  background-color: #CCCC00;
  border: 1px solid #525200;
}

.checkbox {
  display: inline-block;
  margin: 5px;
  margin-left: 0;
  margin-bottom: 20px;
  width: 15px;
  height: 15px;
}

.remember-span {
  display: inline-block;
  font-size: 10px;
  width: auto;
  vertical-align: top;
  margin-top: 6px;
}

.gravatar-edit {
  height: 100px;
  width: auto;
  display: block;
  margin-left: 0;
  padding: 0;
  line-height: 100px;

  * {
    vertical-align: middle;
    display: inline-block;
  }

  a {
    margin: 0;
    padding: 0;
  }

  img {
    height: 80px;
    width: auto;
    margin: 0;
  }
}

.user-outer {
  height: 75px;
  display: block;
  margin: 0;
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 75px;

  img {
    height: 50px;
    vertical-align: middle;
    width: auto;
    margin: 0;
    padding: 0;
  }

  a {
    color: black;
    font-size: 15px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }
}

.pagination {
  box-shadow: 0 2.5px 2px rgba(0, 0, 0, 0.25);
  width: auto;
  display: inline;


  * {
    color: white;
    margin: 0;
    padding: 0;
  }

  a {
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 10px;
  }

  li {
    display: inline-block;
    background-color: #5B2A7D;
    margin: 0;
    border-left: 1px solid #AB75D1;
    border-right: 1px solid #AB75D1;
    margin-right: -4.5px;
    height: 20px;
    transition: background-color 0.1s;

    &:hover {
      background-color: #7A38A8;
    }
  }

  .disabled {
    background-color: #C7A3E0;
    cursor: default;
    pointer-events: none;
  }

  .active {
    background-color: #2C143D;
    &:hover {
      background-color: #2C143D;
    }
  }
}
